<%= form_for(@purchase) do |f| %>
<p>Material</p>  <%= f.text_field :material %>
<p>Proveedor</p> <%= f.text_field :provaider %>
<p>Cantidad</p>  <%= f.number_field :quantity %>
<p>Precio</p>  <%= f.number_field :price %>
<p>Día compra</p>  <%= f.number_field :date %>
  <%= f.submit "Crear" %>
<% end %>
